In [10]:
import pandas as pd
import joblib

In [11]:
#New data for prediction
new_data=pd.read_excel("New_data.xlsx") # 
new_data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,OverTime,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,E1001025,25,Male,Marketing,Married,Sales,Sales Executive,Travel_Rarely,30,3,3,85,3,2,4,7,No,23,4,10,2,2,8,7,7,7,No
1,E1001064,28,Male,Other,Single,Sales,Sales Executive,Travel_Rarely,2,5,4,60,3,1,4,1,No,22,3,6,5,3,6,5,1,4,No
2,E1001181,40,Female,Marketing,Married,Sales,Sales Executive,Travel_Rarely,2,2,3,35,3,2,2,0,No,13,1,8,2,3,7,6,7,7,No
3,E1001307,60,Male,Medical,Married,Sales,Manager,Travel_Rarely,8,2,4,90,3,5,3,6,No,13,2,21,3,4,1,0,7,0,No
4,E1001334,55,Female,Medical,Married,Sales,Sales Representative,Travel_Rarely,10,2,3,80,3,1,2,1,No,22,2,1,5,3,6,5,0,0,No

In [12]:
predict_pipeline=joblib.load('trained_pipeline.pkl')

In [13]:
predictions=predict_pipeline.predict(new_data)
print(predictions)

[3 4 3 3 3]